.button {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.button .text-wrapper-2 {
  font-family: "Author-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .text-wrapper-3 {
  font-family: "Author-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .icon-chevron-right {
  height: 24px !important;
  min-width: 24px !important;
  position: relative !important;
}

.button .text-wrapper-4 {
  font-family: "Author-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button.link {
  gap: 8px;
}

.button.primary {
  border: 1.5px solid;
  border-color: #100c08;
}

.button.secondary {
  border: 1px solid;
}

.button.primary.blue-true {
  background-color: var(--blue);
}

.button.secondary.no-icon {
  gap: 8px;
}

.button.primary.blue-false {
  background-color: var(--yellow);
}

.button.secondary.small-false {
  padding: 12px 24px;
}

.button.secondary.small-true {
  padding: 8px 20px;
}

.button.secondary.blue-false {
  border-color: var(--blue);
}

.button.secondary.blue-true {
  border-color: var(--yellow);
}

.button.secondary.leading {
  gap: 12px;
}

.button.primary.leading {
  gap: 12.65px;
  padding: 4px 12px;
}

.button.secondary.trailing {
  gap: 12px;
}

.button.primary.no-icon.blue-false {
  gap: 12.65px;
}

.button.small-false.no-icon.blue-true {
  gap: 8px;
}

.button.primary.blue-false.small-true {
  gap: 12.65px;
}

.button.primary.no-icon.small-true {
  gap: 12.65px;
  padding: 2px 10px;
}

.button.primary.small-false.no-icon {
  padding: 4px 12px;
}

.button.primary.small-true.trailing {
  padding: 4px 12px;
}

.button.primary.small-false.trailing {
  gap: 4px;
  padding: 4px 4px 4px 12px;
}

.button.primary.small-true.trailing.blue-true {
  gap: 10px;
}

.button.link .text-wrapper-2 {
  font-size: 16px;
  line-height: 24px;
}

.button.primary .text-wrapper-2 {
  color: #100c08;
}

.button.secondary .text-wrapper-2 {
  font-size: 16px;
  line-height: 24px;
}

.button.small-true .text-wrapper-2 {
  font-size: 16px;
}

.button.secondary.blue-true .text-wrapper-2 {
  color: var(--yellow);
}

.button.secondary.blue-false .text-wrapper-2 {
  color: var(--blue);
}

.button.primary.small-false .text-wrapper-2 {
  font-size: 20px;
  line-height: 28px;
}

.button.primary.small-true .text-wrapper-2 {
  line-height: 22.4px;
}

.button.blue-false.link .text-wrapper-2 {
  color: var(--blue);
}

.button.blue-true.link .text-wrapper-2 {
  color: var(--yellow);
}

.button.link .text-wrapper-3 {
  font-size: 16px;
  line-height: 24px;
}

.button.primary .text-wrapper-3 {
  color: #100c08;
  font-size: 20px;
  line-height: 28px;
}

.button.secondary .text-wrapper-3 {
  font-size: 16px;
  line-height: 24px;
}

.button.secondary.blue-true .text-wrapper-3 {
  color: var(--yellow);
}

.button.secondary.blue-false .text-wrapper-3 {
  color: var(--blue);
}

.button.blue-false.link .text-wrapper-3 {
  color: var(--blue);
}

.button.blue-true.link .text-wrapper-3 {
  color: var(--yellow);
}

.button.link .text-wrapper-4 {
  font-size: 16px;
  line-height: 24px;
}

.button.primary .text-wrapper-4 {
  color: #100c08;
  font-size: 20px;
  line-height: 28px;
}

.button.secondary .text-wrapper-4 {
  font-size: 16px;
  line-height: 24px;
}

.button.secondary.blue-true .text-wrapper-4 {
  color: var(--yellow);
}

.button.secondary.blue-false .text-wrapper-4 {
  color: var(--blue);
}

.button.blue-false.link .text-wrapper-4 {
  color: var(--blue);
}

.button.blue-true.link .text-wrapper-4 {
  color: var(--yellow);
}
